{% include "moban.html %}
<div class="col-md-10 col-md-offset-2  main" >
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">System Introduction</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-9 col-md-3">
              <span class="input-group-btn">
                 <a class="btn btn-info" type="submit">联系作者</a>
              </span>
          </div>
          <div class="row">
          <div class="col-md-12">
            <div class="well">
              <h2>一、部署环境</h2>
              <p>1、centos7.3</p>
              <p>2、python2.7</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
