{% include "moban.html %}
<div class="col-md-10 col-md-offset-2  main" >
    <form role="form">
              <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入版本号">
                  <span class="input-group-btn">
                    <a class="btn btn-success" type="submit">Go</a>
                  </span>
                </div>
              </div>
            </form>
<input name="deploy" type="button" class="btn btn-primary btn-sm" value="项目发布" data-toggle="modal" data-target="#deploy_project" >
</div>